@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    position: absolute;
    right: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    position: absolute;
    right: 10px;
    background: rgb(50,205,50);
    background: -moz-linear-gradient(176deg, rgba(50,205,50,1) 47%, rgb(65, 128, 70) 75%);
    background: -webkit-linear-gradient(176deg, rgba(50,205,50,1) 47%, rgba(65, 128, 70, 1) 75%);
    background: linear-gradient(176deg, rgba(50,205,50,1) 47%, rgba(65, 128, 70, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32cd32",endColorstr="#283f4f",GradientType=1);
}

.object-panel::-webkit-scrollbar {
    width: 4px;
}

.object-panel::-webkit-scrollbar-track {
    background: transparent;
}

.object-panel::-webkit-scrollbar-thumb {
    background: #ccc;
}

.hero-bg {
    background-image: linear-gradient(to right top, #011222, #003d5c, #006e7b, #00a06e, #32cd32);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #011222 #011222 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #32cd32 #32cd32;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}