@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    position: absolute;
    right: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    position: absolute;
    right: 10px;
    background: rgb(50,205,50);
    background: -moz-linear-gradient(176deg, rgba(50,205,50,1) 47%, rgb(65, 128, 70) 75%);
    background: -webkit-linear-gradient(176deg, rgba(50,205,50,1) 47%, rgba(65, 128, 70, 1) 75%);
    background: linear-gradient(176deg, rgba(50,205,50,1) 47%, rgba(65, 128, 70, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32cd32",endColorstr="#283f4f",GradientType=1);
}
